@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
    background-color: #A06EB1;
}

a{
    text-decoration: none;
}

.bodyy {
    cursor: url("img/bucket.png"), auto;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    width: 100%;
    position: relative;
    height: 100%;
}

.lilsplash{
    position: absolute;
    top: 100px;
    left: 100px;
    transition: 2s all linear;
    opacity: 1;
}

.gorazd,
.kokolanski {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    position: relative;
    z-index: 100;
}

.gorazd *,
.kokolanski * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.gorazd img:nth-child(2n), .kokolanski img:nth-child(2n){
    animation: 2s linear animation1;
}

.gorazd img:nth-child(2n+1), .kokolanski img:nth-child(2n+1){
    animation: 1.5s linear animation2;
}

@keyframes animation1{
    from {
        transform: translateX(-2000px);
    }
    20%{
        transform: translateX(-1600px) rotate(90deg);
    }
    40%{
        transform: translateX(-1200px) rotate(-90deg);
    }
    60%{
        transform: translateX(-800px) rotate(90deg);
    }
    80%{
        transform: translateX(-400px) rotate(-90deg);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes animation2{
    from {
        transform: translateX(-2000px);
    }
    20%{
        transform: translateX(-1600px) rotate(-90deg);
    }
    40%{
        transform: translateX(-1200px) rotate(90deg);
    }
    60%{
        transform: translateX(-800px) rotate(-90deg);
    }
    80%{
        transform: translateX(-400px) rotate(90deg);
    }
    to {
        transform: translateX(0px);
    }
}

.gorazd {
    gap: 0;
}

.menu {
    position: absolute;
    top: 50px;
    height: 77px;
    width: 77px;
    right: 50px;
}

.menu>* {
    position: absolute;
    height: 77px;
    width: 77px;
    border-radius: 50%;
    background-color: #631F7A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 20;
    font-size: 30px;
    color: white;
    transition: 0.2s all ease;
}

.hamburger {
    position: absolute;
    height: 77px;
    width: 77px;
    border-radius: 50%;
    background-color: #631F7A;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    position: absolute;
    height: 77px;
    width: 77px;
    border-radius: 50%;
    background-color: #631F7A;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects {
    position: absolute;
    height: 77px;
    width: 77px;
    border-radius: 50%;
    background-color: #631F7A;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upwork {
    position: absolute;
    height: 77px;
    width: 77px;
    border-radius: 50%;
    background-color: #631F7A;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutt {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("img/bigsplash.png");
    background-size: 100% 100%;
}

section p {
    font-size: 34px;
    color: white;
    width: 70%;
    margin: 20px 0;
}

.skills {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-top: 50px;
}

.about-section {
    display: flex;
}

.projectss {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 1000px;
}

.projectss>div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 150px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 20px;
    color: white;
    letter-spacing: 0.5px;
    background-color: #5E2F8D;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.project img {
    height: 170px;
    width: 300px;
}

@media only screen and (max-width:768px){
    .gorazd img, .kokolanski img{
        height: 60px;
    }

    .menu {
        position: absolute;
        top: 20px;
        height: 77px;
        width: 77px;
        right: 0px;
    }

    .menu>* {
        position: absolute;
        height: 57px;
        width: 57px;
        border-radius: 50%;
        background-color: #631F7A;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 20px;
        color: white;
        transition: 0.2s all ease;
    }

    .menu .hamburger img{
        height: 15px;
    }

    .upwork img{
        height: 25px;
    }

    .projectss{
        height: 100%;
        padding-top: 200px;
    }

    .projectss>div{
        flex-direction: column;
        gap: 60px;
    }

    .projectss{
        gap: 60px;
    }

    .project img {
        height: 150px;
        width: 270px;
    }

    .aboutt{
        height: 1250px;
    }

    .thex{
        height: 20px;
    }

    .aboutt2{
        height: 100%;
    }

    .about-sectionn{
        height: 100%;
    }

    body:has(.about-sectionn){
        height: 100%;
        min-height: 650px;
    }

    .skills{
        flex-wrap: wrap;
        width: 80%;
        gap: 20px;
    }

    .skills img{
        width: 18%;
    }

    section p{
        font-size: 22px;
        margin: 5px 0;
        width: 85%;
    }

    section p:nth-child(1){
        padding-top: 20px;
    }

}

@media only screen and (max-width:520px){
    .gorazd img, .kokolanski img{
        height: 45px;
    }
}

@media only screen and (max-width:380px){
    .gorazd img, .kokolanski img{
        height: 40px;
    }
}
